contexttimer==0.3.3
django-cors-headers==3.1.1
django-extensions==2.2.6
django-querycount==0.7.0
django==2.2.15
gunicorn==20.0.0
scaife-viewer-atlas @https://github.com/scaife-viewer/backend/archive/2ee50453b2c82a5783a407fe4b93e3799a7dcfc9.zip#subdirectory=atlas
whitenoise==4.1.4
